name: Install Dependencies
description: Sets up Node and its package manager, then installs all dependencies

inputs:
  version:
    default: 'lts/*'
    type: string

runs:
  using: composite
  steps:
    - name: Install package manager
      uses: pnpm/action-setup@v4
      with:
        version: 10.24.0

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        cache: 'pnpm'
        node-version: ${{ inputs.version }}
        registry-url: 'https://registry.npmjs.org'

    - name: Install dependencies
      shell: bash
      run: pnpm install
